@media screen and (max-width: 896px) {
    .menu-text {
        display: none;
    }

    .location {
        margin-left: auto !important;
    }

    .logo {
        margin: auto !important;
    }

}

@media screen and (max-width: 1085px) {
    .carousel img {
        height: 90vh;
    }

    h2 {
        margin-left: 0;
    }

    .Poppins {
        margin-left: 30px !important;
        font-size: 20px;
    }

    .latest-launches {
        height: 50vh !important;
    }

    .bank-offer-container {
        max-width: 90%;
    }

    .watch-out {
        height: 50vh !important;
        margin-left: 20px !important;
    }

    .card-container {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .bank-offer-container {
        margin-left: 20px !important;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(29 30 31);
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    margin-right: 40px;
    margin-left: -10px;

}

.logo img {
    width: 120px;
    height: auto;
    cursor: pointer;
}

nav input {
    width: 30vw;
    height: 35px;
    border: 1px solid white;
    font-weight: 500;
    padding-left: 20px;
    border-radius: 5px;

}

nav input::placeholder {
    opacity: 0.9;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    font-size: smaller;
    cursor: pointer;
}

.search-box {
    position: relative;
}

.search-box .material-symbols-outlined {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgb(44, 43, 43);
    cursor: pointer;
}

nav input:focus {
    background: white;
    border: 1px solid white;
    outline: none;
}

.location {
    font-size: smaller;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    margin-left: 100px;
    /* margin-right: 70px; */
}

.edit {
    font-size: 14px;
}

.profile {
    cursor: pointer;
}

.cart {
    cursor: pointer;
}

.carousel {
    margin-bottom: 0;
    position: relative;
}

.carousel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
}


.carousel img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.carousel-button {
    position: absolute;
    border: none;
    z-index: 2;
    background-color: rgb(211, 205, 205);
    font-size: 2.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgb(163, 162, 162);
}

.carousel-button.prev {
    left: 0;
    border-radius: 0px 5px 5px 0px;

}

.carousel-button.next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
}

.card-container {
    width: 100%;
    height: auto;
    background-color: rgb(29 30 31);
    position: relative;
    /* padding: 0rem;
    margin: 1rem 0rem; */
}

.card-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    position: relative;
}

.card-holder img {
    height: 115px;
    width: 100px;
    margin: 8px;
}

.card-holder2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

.card-holder2 img {
    height: 115px;
    width: 100px;
    margin: 8px;

}

.bank-offer-container {
    width: 75%;
    height: 30vh;
    background-color: rgb(29 30 31);
    color: white;
    overflow: hidden;
    margin-left: 180px;
    margin-right: 180px !important;
}

.bank-offer-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    animation-name: scroll;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    white-space: nowrap;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.bank-offer-card img {
    display: inline-block;
    max-width: 250px;
    height: 80px;
    margin: 0 5px;
    overflow: hidden;
}

.latest-launches {
    color: white;
    width: 100%;
    height: 60vh;
    background-color: rgb(29 30 31);

}

.latest-launches-card a {

    max-width: 36%;
}

.latest-launches-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}

.latest-launches-card img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;

}

.Poppins {
    font-family: 'Poppins', sans-serif;
}

.watch-out {
    width: 100%;
    height: 60vh;
    color: white;
    background-color: rgb(29 30 31);

}

.watch-out-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 10px;
}

.watch-out-card a {
    width: 36%;
}

.watch-out-card img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.Home-card-container {
    width: 100%;
    height: 60vh;
    background-color: rgb(29 30 31);
}

.Home-card-container h2 {
    font-weight: 500;
    margin-left: 180px;
    color: white;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 15px;

}

.card-content a {
    width: 18%;
}

.card-content img {
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.monsoon-deals {
    width: 100%;
    height: 80vh;
    background-color: rgb(29 30 31);
}

.monsoon-deals h2 {
    font-weight: 500;
    font-size: 1.7rem;
    margin-left: 180px;
    color: white;
    padding-top: 30px;

}

.monsoon-deals-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product-container {
    display: flex;
    overflow-x: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

.product-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 250px;
    flex: 0 0 auto;
    padding: 10px;
    transition: transform 0.3s;
}

.product-card a {
    width: 20%;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 1rem;
    margin-top: 10px;
}

.price {
    font-size: 1.1rem;
    color: white;
    margin: 5px 0;
}

.original-price {
    text-decoration: line-through;
    color: white;
    font-size: 0.7rem;
}

.stars {
    color: white;
}

.product-container::-webkit-scrollbar {
    height: 8px;
}

.product-container::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.product-title {
    color: white;
}

.tech-deals {
    width: 100%;
    height: 70vh;
    background-color: rgb(29 30 31);
    position: relative;
}

.tech-deals h2 {
    font-weight: 500;
    font-size: 1.7rem;
    margin-left: 180px;
    color: white;
    position: absolute;
    margin-top: -70px;
}

.tech-deal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
}